<!-- Modal de Edição -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Informações</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="dashboard/posts/edit/{{id}}" method="POST" class="row g-3 needs-validation" validate>
          <div class="col-md-6">
            <label for="editName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="editName" required>
            <div class="valid-feedback">Ok!</div>
          </div>
          <div class="col-md-6">
            <label for="editValor" class="form-label">Valor</label>
            <input type="number" class="form-control" id="editValor" required>
            <div class="valid-feedback">Ok!</div>
          </div>
          <div class="col-md-12">
            <label for="editEndereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="editEndereco" required>
            <div class="valid-feedback">Ok!</div>
          </div>
          <div class="col-md-12">
            <label for="editCriadoPor" class="form-label">Criado Por</label>
            <input type="email" class="form-control" id="editCriadoPor" required>
            <div class="valid-feedback">Ok!</div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function loadEditModalData(itemId) {
    // Encontrar o item correto nos dados
    var itemData = data.find(function (item) {
      return item.id == itemId;
    });

    // Preencher os campos do modal com os dados do item
    document.getElementById("editName").value = itemData.nome;
    document.getElementById("editValor").value = itemData.valor;
    document.getElementById("editEndereco").value = itemData.endereco;
    document.getElementById("editCriadoPor").value = itemData.criadoPor;

    // Atualizar a ação do formulário com o ID do item
    var form = document.getElementById('editForm');
    form.action = '/dashboard/posts/edit/' + itemId;
  }

  // Event listener para carregar os dados do item ao abrir o modal
  document.addEventListener('DOMContentLoaded', function () {
    var editButtons = document.querySelectorAll('.edit-btn');
    editButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        var itemId = button.getAttribute('data-id');
        loadEditModalData(itemId);
      });
    });
  });
</script>
