<body>
  <main class="rounded-3">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark min-vh-100" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="../assets/logo/frog-logo.svg" class="me-2" height="32" alt="">
        <span class="fs-4">Dashboard</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin" class="nav-link active" aria-current="page">
            <i class="bi bi-house me-2" width="16" height="16" style="color: white"></i>
            Home
          </a>
        </li>
        <li>
          <a href="/admin/criar-anuncio" class="nav-link text-white">
            <i class="bi bi-building-add me-2" width="16" height="16" style="color: white"></i>
            Criar Anúncio
          </a>
        </li>
        <li>
          <a href="/admin/anuncios" class="nav-link text-white">
            <i class="bi bi-houses me-2" width="16" height="16" style="color: white"></i>
            Anúncios
          </a>
        </li>
        <li>
          <a href="/login/admin" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16" ><use xlink:href="#people-circle"></use></svg>
            Meu Perfil
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="/login/admin" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../assets/logo/frog-logo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>Frogo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/login/admin">New project...</a></li>
          <li><a class="dropdown-item" href="/login/admin">Settings</a></li>
          <li><a class="dropdown-item" href="/login/admin">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/login/admin">Sign out</a></li>
        </ul>
    </div>
  </main>