<div class="album py-5 bg-body-tertiary">
  <div class="container" id="cards">
    <h2 class="pb-4">Casas Disponíveis</h2>
    <div class="d-flex flex-nowrap gap-3 scroll-container">
      {{#data}}
      <div class="center mb-2 card-container">
        <div class="card shadow-sm " role="button" style="width: 18rem">
          <img src={{imgURL}} class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-subtitle text-muted">
              {{createdBy}}
            <p class="card-text">
              {{description}}
            </p>
            <p class="card-text">
              {{address}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              {{#isAuthenticated}}
              <div class="btn-group d-flex justify-content-start">
                <!-- Botões de editar/excluir -->
                <a href="/dashboard/">
                  <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="/dashboard/" >
                  <button type="button" class="btn btn-danger">Excluir</button>
                </a>
              </div>
              {{/isAuthenticated}}
              <div class="d-flex justify-content-end gap-2">
                <i class="bi bi-house-check-fill"></i>
                <p class="text-body-primary fw-bold">{{price}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/data}}
    </div>
  </div>
</div>
