    <!-- Inicio Carrousel -->
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bem-vindo à Imobiliária <strong>Frog</strong></h1>
        <p class="lead text-body-tertiary">Saltando para o Futuro do Mercado Imobiliário</p>
        <p class="lead text-body-secundary">
          Com um salto de confiança e um toque de magia do pântano, nossa equipe de especialistas está aqui para guiá-lo através das melhores ofertas de imóveis no mercado. Seja você um sapo procurando por uma nova lagoa ou um príncipe em busca de seu castelo, a Imobiliária Frog é o lugar onde os sonhos de moradia se tornam realidade.</p>
        <p>
          <a href="https://getbootstrap.com/docs/5.3/examples/album/#" class="btn btn-primary my-2">Explorar Imóveis</a>
          <a href="https://getbootstrap.com/docs/5.3/examples/album/#" class="btn btn-secondary my-2">Fale Conosco</a>
        </p>
      </div>
    </div>
  </section>
    <!-- fim carrousel -->