<!-- Equipe Section -->
    <section class="bg-dark bg-gradient p-4">
      <div class="container-fluid">
        <h1 class="text-white pb-4 text-center">Conheça nossa equipe</h1>
        <div class="container text-center">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <img src="https://github.com/emanueleflor.png" class="img-200-200 rounded-circle img-thumbnail" alt="" srcset="">
              <h4 class="mt-2 text-white">Emanuelle Flor da Rosa</h4>
              <div class="container-fluid">
                <button class="btn btn-secondary h-40">
                  <a href="https://github.com/emanueleflor" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <img src="https://github.com/ieVictor.png" class="img-200-200 rounded-circle img-thumbnail" alt="" srcset="">
              <h4 class="mt-2 text-white">Victor Gabriel</h4>
              <div class="container-fluid">
                <button class="btn btn-secondary h-40">
                  <a href="https://github.com/ieVictor" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <img src="https://github.com/Fasano18.png" class="img-200-200 rounded-circle img-thumbnail" alt="" srcset="">
              <h4 class="mt-2 text-white">Leonardo Fasano</h4>
              <div class="container-fluid">
                <button class="btn btn-secondary h-40">
                  <a href="https://github.com/Fasano18" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <img src="https://github.com/weslleysilv4.png" class="img-200-200 rounded-circle img-thumbnail" alt="" srcset="">
              <h4 class="mt-2 text-white">Weslley Silva</h4>
              <div class="container-fluid">
                <button class="btn btn-secondary h-40">
                  <a href="https://github.com/weslleysilv4" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>