<!-- Equipe Section -->
    <section class="bg-dark bg-gradient p-4">
      <div class="container">
        <h1 class="text-white pb-4 text-center">Conheça nossa equipe</h1>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <img src="https://placehold.co/200x200" class="rounded-circle" alt="" srcset="">
              <h4 class="mt-4 text-white">Fulano</h4>
              <div class="container w-40">
                <button class="btn btn-secondary h-40">
                  <a href="http://github.com/" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col">
              <img src="https://placehold.co/200x200" class="rounded-circle" alt="" srcset="">
              <h4 class="mt-4 text-white">Fulano</h4>
              <div class="container w-40">
                <button class="btn btn-secondary h-40">
                  <a href="http://github.com/" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col">
              <img src="https://placehold.co/200x200" class="rounded-circle" alt="" srcset="">
              <h4 class="mt-4 text-white">Fulano</h4>
              <div class="container w-40">
                <button class="btn btn-secondary h-40">
                  <a href="http://github.com/" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
            <div class="col">
              <img src="https://placehold.co/200x200" class="rounded-circle" alt="" srcset="">
              <h4 class="mt-4 text-white">Fulano</h4>
              <div class="container w-40">
                <button class="btn btn-secondary h-40">
                  <a href="http://github.com/" target="_blank">
                    <i class="bi bi-github text-white h-40"></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>