{{>login/partials/head}}
<body class="d-flex align-items-center min-vw-100 min-vh-100 bg-dark bg-secondary">

  <main class="form-signin m-auto w-25">
    <form action="/login" method="POST" id="loginForm">
      <div class="container-md-auto d-flex justify-content-center align-items-center gap-2">
        {{! Logo }}
        <a class="navbar-brand text-fluid" href="/">
          <img class="mb-4" src="assets/logo/frog-logo.svg" alt="Logo Image" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal text-white">Login</h1>
        </a>
      </div>

      {{! Endereço de Email }}
      <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="floatingInput">
        <label for="floatingInput">Endereço de e-mail</label>
      </div>

      {{! Password }}
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>

      {{! Lembrar-me }}
      <div class="d-flex justify-content-between form-check text-start my-3">
        <div>
          <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
          <label class="form-check-label text-white" for="flexCheckDefault">
          Lembrar-me
        </div>
        </label>
        <a href="/register">Não possui conta? Clique aqui</a>
      </div>

      {{! Sign in button }}
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      <button type="button" class="btn btn-secondary w-100 py-2 mt-2" id="adminLoginButton">Login as ADMIN</button>

      {{! Footer }}
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
    </form>
  </main>
  <script>
    document.getElementById('adminLoginButton').addEventListener('click', function() {
      document.getElementById('floatingInput').value = 'admin@frog.com';
      document.getElementById('floatingPassword').value = 'blindfrog';
      document.getElementById('loginForm').submit();
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>