{{> admin/partials/head}}

<div class="container-fluid-md">
    <div class="d-flex">
      {{> admin/partials/sidebar}}
      <div class="row p-5 w-75 justify-content-md-center">
        <div class="row justify-content-center">
          <div class="col align-items-end">
            {{> admin/partials/cards}}
          </div>
        </div>
      <div>
    </div>
</div>

